{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col-lg-8">
				{% for elt in panier %}
					<div class="my-4 ms-1 d-flex flex-column flex-lg-row bg-secondary-subtle rounded">
						<img src="{{elt.produit.photo}}" class="object-fit-cover w-25 h-25 rounded-start" alt="{{elt.produit.nom}}">
						<div class="card-body p-0 mt-5 mt-lg-0">
							<h4 class="text-uppercase mb-1 nom_article ms-2 pt-2">{{elt.produit.nom}}</h4>
							<p class="mb-0 ms-3">{{elt.produit.reference}}</p>
							<div class="d-flex justify-content-end align-items-center me-5 fts-italic">
								<p class="fst-italic mb-0 me-2">{{elt.produit.prix|number_format(2, '.', ' ')}}
									x</p>
								<form method="post" action="/panier/update/{{ elt.produit.id }}" class="ms-3">
									<input type="number" id="quantity_{{ elt.produit.id }}" name="quantity" value="{{ elt.quantite }}" min="1" class="form-control quantite me-4" onchange="this.form.submit()">
								</form>
								<a href="/panier/delete/{{ elt.produit.id }}">
									<i class="bi bi-trash3 supprimer"></i>
								</a>

							</div>
							<p class="d-flex justify-content-end m-3">Total :
								{{ (elt.produit.prix * elt.quantite)|number_format(2, '.', ' ') }}
								€</p>

						</div>
					</div>
				{% endfor %}
			</div>

			<div class="col-lg-4 my-4">
				<div class="p-3 bg-secondary-subtle rounded">
					<h5 class="fw-bold mb-3">RÉCAPITULATIF</h5>

					{% set sousTotal = 0 %}
					{% for elt in panier %}
						{% set sousTotal = sousTotal + (elt.produit.prix * elt.quantite) %}
					{% endfor %}

					{% set fraisLivraison = 5 %}


					{% for elt in panier %}
						<p class="d-flex justify-content-between mb-1">
							<span>{{ elt.quantite }}
								x
								{{ elt.produit.nom }}</span>
							<span>{{ (elt.produit.prix * elt.quantite)|number_format(2, '.', ' ') }}
								€</span>
						</p>
					{% endfor %}

					<hr>
					<p class="d-flex justify-content-between mb-1">
						<span>Frais de livraison</span>
						<span>{{fraisLivraison|number_format(2, '.', ' ')}}
							€</span>
					</p>
					<p class="d-flex justify-content-between mb-1">
						<span>Taxes</span>
						{% if app.user %}
							{% set valeurTaxe = (sousTotal * app.user.coefficientTaxe) - sousTotal %}
							<span>{{ valeurTaxe|number_format(2, '.', ' ') }}
								€</span>
						{% else %}
							<a href="{{path('app_login')}}" class="lien">Se connecter</a>
						{% endif %}
					</p>
					<p class="d-flex justify-content-between mb-1">
						<span>Réduction</span>
						{% if app.user %}
							{% set valeurReduction = sousTotal * app.user.reduction %}
							<span>-{{ valeurReduction|number_format(2, '.', ' ') }}
								€</span>
						{% else %}
							<a href="{{path('app_login')}}" class="lien">Se connecter</a>
						{% endif %}
					</p>

					<hr>

					<h6 class="fw-bold">ADRESSE</h6>
					<p class="d-flex justify-content-between mb-1 w-100">
						{% if app.user and app.user.adresses|length > 0 %}
							<select name="adresse" id="adresse" class="form-select">
								{% for adresse in app.user.adresses %}
									<option value="{{ adresse.id }}">
										{{ adresse.adresse }},
										{{ adresse.codePostal }}
										{{ adresse.ville }}
									</option>
								{% endfor %}
							</select>
						{% else %}
							<span>Mon adresse .......</span>
							<a href="{{ path('app_login') }}" class="lien">Se connecter</a>
						{% endif %}
					</p>


					<hr>

					<h6 class="fw-bold">MOYEN DE PAIEMENT</h6>
					<p class="d-flex justify-content-between mb-1">
						{% if not app.user %}
							<span>Mon moyen de paiement .......</span>
							<a href="{{ path('app_login') }}" class="lien">Se connecter</a>
						{% else %}
							{% if app.user.categorieClient == 'Particulier' %}
								<span>Carte bancaire</span>
							{% elseif app.user.categorieClient == 'Professionnel' %}
								<div class="d-flex flex-column">
									<div class="form-check">
										<input class="form-check-input" type="radio" id="cb" name="moyenPaiement" value="cb" checked>
										<label class="form-check-label" for="cb">
											Carte bancaire
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" id="cheque" name="moyenPaiement" value="cheque">
										<label class="form-check-label" for="cheque">
											Chèque
										</label>
									</div>
								</div>
							{% else %}
								<span>Non défini</span>
							{% endif %}
						{% endif %}
					</p>

					<hr>
					<p class="d-flex justify-content-between fw-bold">
						{% set total = sousTotal + valeurTaxe - valeurReduction + fraisLivraison %}
						<span>TOTAL</span>
						<span>{{total|number_format(2, '.', ' ')}}
							€</span>
					</p>

					<button class="btn btn-vert text-white w-100 mt-3">VALIDER LA COMMANDE</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
