{% extends 'base.html.twig' %}

{% block title %}Gestion des livraisons
{% endblock %}

{% block body %}
	<h2>🚚 Commandes - Service Export</h2>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>N°</th>
				<th>Date</th>
				<th>Client</th>
				<th>Adresse livraison</th>
				<th>Produits</th>
				<th>État</th>
                <th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
				<tr>
					<td>{{ commande.numero }}</td>
					<td>{{ commande.date|date('d/m/Y') }}</td>
					<td>{{ commande.utilisateur.nom }}
						{{ commande.utilisateur.prenom }}</td>
					<td>
						{% for adresse in commande.commandesAdresse %}
							{% if adresse.typeAdresse == 'Livraison' %}
								{{ adresse.adresse.adresse }}<br>
								{{ adresse.adresse.codePostal }}
								{{ adresse.adresse.ville }}<br>
							{% endif %}
						{% endfor %}
					</td>
					<td>
						<ul>
							{% for cp in commande.commandesProduit %}
								<li>{{ cp.produit.nom }}
									×
									{{ cp.quantite }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						{{ form_start(forms[commande.id], { 'attr': {'class': 'd-inline'} }) }}
							{{ form_widget(forms[commande.id].etat) }}
						{{ form_end(forms[commande.id], {'render_rest': false}) }}
					</td>
					<td>
						<a href="#" class="btn btn-sm btn-outline-secondary">
							Bon de livraison
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6" class="text-center">Aucune commande trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
