<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
		{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
	<header>
		<div class="container-fluid p-0 header">
			<ul class="navbar-nav d-flex flex-row w-100 h-100 justify-content-end">
				<li class="nav-item text-center col-4">
					<img src="{{ asset('images/logo_blanc1.png') }}" class="img-fluid h-100" alt="Logo Village Green">
				</li>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<li class="nav-item text-center col-2 d-flex justify-content-center align-items-center">
						<a class="nav-link custom-link" href="#">Déconnexion</a>
					</li>
				{% else %}
					<li class="nav-item text-center col-1 d-flex justify-content-center align-items-center">
						<a class="nav-link custom-link " href="#">S'inscrire</a>
					</li>
					<li class="nav-item text-center col-1 d-flex justify-content-center align-items-center">
						<a class="nav-link custom-link " href="#">Se connecter</a>
					</li>
				{% endif %}
				<li class="nav-item text-center col-1 fs-4">
					<a class="nav-link " href="#">
						<i class="bi bi-person-circle custom-link"></i>
					</a>
				</li>
				<li class="nav-item text-center col-1 fs-4">
					<a class="nav-link" href="#">
						<i class="bi bi-cart3 custom-link"></i>
					</a>
				</li>
			</ul>
		</div>

		<nav class="navbar navbar-expand-lg bg-secondary-subtle">
			<div class="container-fluid p-0">
				<ul class="navbar-nav d-flex flex-row w-100">
					<li class="nav-item col-3 text-center border-end border-black">
						<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_accueil')}}">Accueil</a>
					</li>
					<li class="nav-item col-3 text-center border-end border-black">
						<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_rubriques')}}">Catégories</a>
					</li>
					<li class="nav-item col-3 text-center border-end border-black">
						<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_all_produits')}}">Produits</a>
					</li>
					<li class="nav-item col-3 text-center">
						<a class="nav-link text-uppercase fs-5 custom-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Formulaire de recherche en dessous -->
		<div class="container-fluid my-3 col-3">
			<form class="d-flex" role="search">
				<input class="form-control text-center" type="search" placeholder="Recherche" aria-label="Search"/>
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</header>
		{% block body %}{% endblock %}
		<footer class="bg-secondary-subtle mt-5 mt-lg-0">
			<div class="container-fluid">
				<ul class="d-flex flex-row p-0">
					<li class="text-center col-4 d-flex justify-content-center align-items-center">
						<a class="custom-link fs-5" href="#">Qui sommes-nous ?</a>
					</li>
					<li class="text-center col-4 d-flex justify-content-center align-items-center">
						<a class="custom-link fs-5" href="#">Nos magasins</a>
					</li>
					<li class="text-center col-4 d-flex justify-content-center align-items-center">
						<a class="custom-link fs-5" href="#">Mentions légales</a>
					</li>
				</ul>
			</div>
			<div class="container-fluid m-0 p-0">
				<ul class="d-flex flex-row justify-content-center list-unstyled">
					<li class="mx-2">
						<a class="custom-link" href="#">
							<i class="bi bi-facebook fs-2"></i>
						</a>
					</li>
					<li class="mx-2">
						<a class="custom-link " href="#">
							<i class="bi bi-instagram fs-2"></i>
						</a>
					</li>
					<li class="mx-2">
						<a class="custom-link " href="#">
							<i class="bi bi-tiktok fs-2"></i>
						</a>
					</li>
					<li class="mx-2">
						<a class="custom-link " href="#">
							<i class="bi bi-twitter-x fs-2"></i>
						</a>
					</li>
				</ul>
			</div>
		</footer>
	</body>
</html>
