<header>
	<div
		class="container-fluid p-0 header d-flex justify-content-between align-items-center">
		<!-- Menu gauche vide ou à compléter plus tard -->
		<div class="col-4 d-none d-lg-block"></div>

		<!-- Logo centré -->
		<div class="col col-lg-4 h-100 text-center">
			<img src="{{ asset('images/logo_blanc1.png') }}" class="img-fluid h-100" alt="Logo Village Green">
		</div>

		<!-- Menu de droite -->
		<ul class="navbar-nav d-none d-lg-flex flex-row justify-content-end align-items-center col-4 m-0">
			{% if app.user %}
				{% if app.user.service == 'Ventes' %}
					<li class="nav-item d-flex justify-content-center align-items-center mx-2">
						<a class="nav-link custom-link" href="{{path('app_clients')}}">Mes clients</a>
					</li>
				{% endif %}
				<li class="nav-item d-flex justify-content-center align-items-center mx-2">
					<a class="nav-link custom-link" href="{{path('app_logout')}}">Déconnexion</a>
				</li>
			{% else %}
				<li class="nav-item d-flex justify-content-center align-items-center mx-2">
					<a class="nav-link custom-link" href="{{path('app_inscription')}}">S'inscrire</a>
				</li>
				<li class="nav-item d-flex justify-content-center align-items-center mx-2">
					<a class="nav-link custom-link" href="{{path('app_login')}}">Se connecter</a>
				</li>
			{% endif %}
			<li class="nav-item fs-4 mx-2">
				<a class="nav-link" {% if app.user %} href="{{path('app_profil', {id: app.user.id})}}" {% else %} href="{{path('app_login')}}" {% endif %}>
					<i class="bi bi-person-circle custom-link"></i>
				</a>
			</li>
			<li class="nav-item fs-4 mx-2">
				<a class="nav-link" href="{{path('app_panier')}}">
					<i class="bi bi-cart3 custom-link"></i>
				</a>
			</li>
		</ul>
	</div>


	<nav class="d-none d-lg-block navbar navbar-expand-lg bg-secondary-subtle">
		<div class="container-fluid p-0">
			<ul class="navbar-nav d-flex flex-row w-100">
				<li class="nav-item col-3 text-center border-end border-black">
					<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_accueil')}}">Accueil</a>
				</li>
				<li class="nav-item col-3 text-center border-end border-black">
					<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_rubriques')}}">Catégories</a>
				</li>
				<li class="nav-item col-3 text-center border-end border-black">
					<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_all_produits')}}">Produits</a>
				</li>
				<li class="nav-item col-3 text-center">
					<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_contact')}}">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<nav class="d-block d-lg-none navbar navbar-expand bg-secondary-subtle w-100 fixed-bottom border-top">
		<div class="container-fluid p-0">
			<ul class="navbar-nav d-flex flex-row w-100 m-0">
				<li class="nav-item col-2 point5 text-center border-end border-black">
					<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_contact')}}">
						<i class="bi bi-chat"></i>
					</a>
				</li>
				<li class="nav-item col-2 point5 text-center border-end border-black">
					<a class="nav-link text-uppercase fs-5 custom-link" href="{{ path('app_rubriques') }}">
						<i class="bi bi-book"></i>
					</a>
				</li>
				<li class="nav-item col-2 point5 text-center border-end border-black">
					<a class="nav-link text-uppercase fs-5 custom-link" href="{{ path('app_accueil') }}">
						<i class="bi bi-house-door"></i>
					</a>
				</li>
				<li class="nav-item col-2 point5 text-center border-end border-black">
					<a class="nav-link text-uppercase fs-5 custom-link" href="{{path('app_panier')}}">
						<i class="bi bi-cart3"></i>
					</a>
				</li>
				<li class="nav-item col-2 point5 text-center">

					<a class="nav-link text-uppercase fs-5 custom-link" {% if app.user %} href="{{path('app_logout')}}" {% else %} href="{{path('app_login')}}" {% endif %}>
						<i class="bi bi-person-circle"></i>
					</a>

				</li>
			</ul>
		</div>
	</nav>


	<!-- Formulaire de recherche en dessous -->
	<div class="container my-3 col-8 col-lg-4">
		<form class="d-flex" role="search" method="get" action="{{ path('app_recherche') }}">
			<input class="form-control text-center me-2" type="search" name="recherche" placeholder="Recherche" aria-label="Rechercher" required>
			<button class="btn btn-outline-success" type="submit">
				<i class="bi bi-search"></i>
			</button>
		</form>
	</div>

</header>
