{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			{% for produit in produits %}
				<div class="col-12 col-lg-6 my-2 my-lg-5 d-flex justify-content-center">
					<div class="card produit d-flex flex-row bg-secondary-subtle w-100">
						<a href="{{ path('app_produit', { produit: produit.id}) }}" class="produits_img"><img src="{{produit.photo}}" class="card-img-left object-fit-cover w-100 h-100" alt="{{produit.nom}}"></a>
						<div class="card-body p-0 pt-2">
							<div class="d-flex flex-row justify-content-between mx-3">
								<a href='{{ path('app_produit', { produit: produit.id}) }}' class="card-text text-center text-uppercase text-decoration-none custom-link d-flex align-items-center justify-content-center mb-1 h-100">{{produit.nom}}</a>
								<p class="mb-0">{{produit.reference}}</p>
							</div>
							<p class="ms-5 fst-italic">{{produit.prix|number_format(2, '.', ' ')}}€</p>
							<p class="ms-4 mb-5">{{produit.description}}</p>
							<form action="/panier/add/{{ produit.id }}" method="post" class="m-4 d-flex align-items-center gap-2 justify-content-end">
								<label for="quantity_{{ produit.id }}" class="form-label mb-0">
								</label>
								<input type="number" id="quantity_{{ produit.id }}" name="quantity" value="1" min="1" class="form-control quantite"/>
								<button type="submit" class="btn btn-vert text-white">Ajouter au panier</button>
							</form>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
